repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    # Version can be updated by running "pre-commit autoupdate"
    rev: 26.1.0
    hooks:
      - id: black
ci:
  # Don't run automatically on PRs, instead add the comment
  # "pre-commit.ci autofix" on a pull request to manually trigger auto-fixing
  autofix_prs: false
