atomicwrites==1.1.5
attrs==18.1.0
autopep8==1.4.2  
backcall==0.1.0
certifi>=2018.8.13
chardet==3.0.4
cloudpickle==0.5.3
coverage==4.5.1
coveralls==1.5.0
cycler==0.10.0
cython==0.28.5
dask==0.18.2
decorator==4.3.0
dill==0.2.8.2
h5py==2.8.0
hyperspy==1.4.0
idna==2.7 
ipykernel==4.8.2  
ipyparallel==6.2.2 
ipython-genutils==0.2.0
ipython==6.5.0 
ipywidgets==7.4.1
jedi==0.12.1
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.3        
monty==1.0.3    
more-itertools==4.3.0   
mpmath==1.0.0           
natsort==5.3.3          
networkx==2.1           
numpy==1.15.0       
palettable==3.1.1     
pandas==0.23.4       
parso==0.3.1       
patsy==0.5.0      
pexpect==4.6.0       
pickleshare==0.7.4      
Pillow==5.2.0     
Pint==0.8.1    
pip==18.0.1               
pluggy==0.7.1               
prompt-toolkit==1.0.15             
ptyprocess==0.6.0             
py==1.5.4 
pycodestyle==2.4.0           
PyDispatcher==2.0.5           
PyWavelets==0.5.2     
Pygments==2.2.0          
pyparsing==2.2.0           
pytest-cov==2.5.1         
pytest==3.8.0          
python-dateutil==2.7.3       
pytz==2018.5     
pyzmq==17.1.2            
requests>=2.20.0          
ruamel.yaml==0.15.57          
scikit-image==0.14.0          
scikit-learn==0.19.2         
scipy==1.1.0         
setuptools==40.0.0       
simplegeneric==0.8.1       
six==1.11.0           
spglib==1.10.4.11      
sphinx==1.7.8
sphinx_bootstrap_theme==0.6.4
statsmodels==0.9.0        
sympy==1.2         
tabulate==0.8.2      
toolz==0.9.0    
tornado==5.1        
tqdm==4.24.0    
traitlets==4.3.2    
traits==4.6.0             
transforms3d==0.3.1            
urllib3==1.23            
wcwidth==0.1.7          
wheel==0.31.1        
