name: build

on:
  push:
  pull_request:
    branches: [main]

env:
  MPLBACKEND: agg

jobs:
  build-with-pip:
    name: ${{ matrix.os }}-py${{ matrix.python-version }}${{ matrix.LABEL }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 25
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.13"]
        include:
          - os: ubuntu-latest
            python-version: "3.9"
            DEPENDENCIES: diffsims==0.7.0 hyperspy==2.2.0 lmfit==1.0.0 numpy==1.23.0 matplotlib==3.7.5 orix==0.12.1 scikit-image==0.19.0 scikit-learn==1.0.0
            LABEL: -oldest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get the number of CPUs
        id: cpus
        run: |
          import os, platform
          num_cpus = os.cpu_count()
          print(f"Number of CPU: {num_cpus}")
          print(f"Architecture: {platform.machine()}")
          output_file = os.environ["GITHUB_OUTPUT"]
          with open(output_file, "a", encoding="utf-8") as output_stream:
              output_stream.write(f"count={num_cpus}\n")
        shell: python

      - name: Install dependencies and package
        shell: bash
        run: |
          pip install -U -e .'[tests]'

      - name: Install oldest supported versions
        if: contains(matrix.LABEL, 'oldest')
        run: |
          pip install ${{ matrix.DEPENDENCIES }}

      - name: Display Python, pip and package versions
        run: |
          python -V
          pip -V
          pip list

      - name: Run docstring tests
        continue-on-error: true
        run: |
          pytest --doctest-modules --doctest-continue-on-failure --ignore-glob=pyxem/tests --ignore-glob=pyxem/data pyxem

      - name: Run tests
        run: |
          pytest --cov=pyxem --runslow --pyargs pyxem --durations=50 --timeout=360

      - name: Generate line coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          coverage xml
          coverage report --show-missing

      - name: Upload coverage reports to Codecov
        if: ${{ github.repository_owner == 'pyxem' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
