name: Docs build

on:
  pull_request:
    # on closed, the docs-PR-preview-cleanup.yml workflow will remove the preview
    # and update the sticky comment accordingly
    types: [opened, synchronize]
  push:
  workflow_dispatch:

jobs:
  Build:
    uses: hyperspy/.github/.github/workflows/doc.yml@main
    with:
      pip_extra_doc: 'all,doc'
      install_package_ubuntu: graphviz optipng
      check_links: true
      doctest: false
      SPHINXOPTS: '--jobs 4' # use parallel build to speed up builds
      ORGANISATION: 'pyxem'
      CACHE_GALLERY_EXAMPLES: './doc/examples' # cache sphinx-gallery examples for faster builds
      CACHE_POOCH: 'pyxem' # cache pooch downloads for pyxem data

  Push-dev:
    needs: [Build]
    if: >
      github.repository_owner == 'pyxem' && 
      github.event_name != 'pull_request' && 
      github.ref_name == 'main'
    permissions:
      # needs write permission to push the docs to gh-pages
      contents: write
    uses: hyperspy/.github/.github/workflows/push_doc.yml@main
    with:
      output_path: dev

  Push-tag:
    needs: [Build]
    if: >
      github.repository_owner == 'pyxem' &&
      github.event_name != 'pull_request' &&
      github.ref_type == 'tag'
    permissions:
      # needs write permission to push the docs to gh-pages
      contents: write
    uses: hyperspy/.github/.github/workflows/push_doc.yml@main
    with:
      output_path: ${{ github.ref_name }}
      create_redirect: true
      create_stable_copy: true
      persistent_name: stable

  Upload-PR_preview:
    if: >
      github.repository_owner == 'pyxem' && 
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#using-data-from-the-triggering-workflow
      - name: Write PR number to file
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          mkdir -p ./pr
          echo $PR_NUMBER > ./pr/pr_number

      - name: Upload PR number artifact # For the follow up deploy job
        uses: actions/upload-artifact@v6
        with:
          name: pr_number
          path: pr/
