name: Docs PR-preview

on:
  workflow_run:
    workflows: ["Docs build"]
    types: [completed]

env:
  html_folder: ./doc/_build/html
  artifact_name: doc_html

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Run only if the docs build workflow succeeded and was triggered by a PR
    if: >
      github.repository_owner == 'pyxem' &&
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request'
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Download PR number artifact
        uses: actions/download-artifact@v7
        with:
          name: pr_number
          path: pr
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Parse PR number
        id: info
        run: |
          echo "Parsing PR number:"
          cat pr/pr_number
          echo "pr_number=$(cat pr/pr_number)" >> $GITHUB_OUTPUT
      
      # need to specify the run id to get the artifact from the correct workflow run
      # and set the github-token to access the actions scope
      # https://github.com/actions/download-artifact?tab=readme-ov-file#download-artifacts-from-other-workflow-runs-or-repositories
      - name: Download built docs
        uses: actions/download-artifact@v7
        with:
          name: ${{ env.artifact_name }}
          path: ${{ env.html_folder }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Print doc files
        run: ls -l ${{ env.html_folder }}

      - name: Deploy PR preview
        # until rossjrw/pr-preview-action suppports passing the PR number as input,
        # use the peaceiris/actions-gh-pages and implement cleanup on PR closed
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          personal_token: ${{ secrets.PREVIEW_DEPLOY_KEY }}
          publish_dir:  ${{ env.html_folder }}
          destination_dir: pr-preview/${{ steps.info.outputs.pr_number }}
          external_repository: CSSFrancis/pyxem-docs-staging

      - name: Get timestamp (UTC)
        id: timestamp
        run: |
          echo "utc=$(date -u '+%Y-%m-%d %H:%M UTC')" >> "$GITHUB_OUTPUT"

      - name: Post preview link as sticky PR comment
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405
        with:
          number: ${{ steps.info.outputs.pr_number }}
          header: pr-preview
          message: |
            **PR Preview**
            :---:
            :rocket: View PR Preview at https://cssfrancis.github.io/pyxem-docs-staging/pr-preview/${{ steps.info.outputs.pr_number }}.
            If you see a 404 error, please wait a few seconds for the deployment to complete and refresh the page.
            ${{ steps.timestamp.outputs.utc }}
