name: Docs PR Preview # STOP: Any changes here should be carefully reviewed before merging
# See https://github.com/pyxem/pyxem/issues/1150 for context on this PR setup
on:
  pull_request_target: # use pull_request_target to have access to secrets for forks. Will run on the base branch
    types: [opened, reopened, synchronize, closed] # On closed we will remove the preview
    if: github.event.pull_request.head.repo.fork == true

jobs:
  build:
    uses: ./.github/workflows/docs-build.yml

  deploy:
    needs: build
    runs-on: ubuntu-latest
    concurrency: preview-${{ github.ref }}
    steps:
      - name: Download built docs
        uses: actions/download-artifact@v4
        with:
          name: doc_html
          path: ./doc/_build/html

      - name: Checkout deploy repo
        uses: actions/checkout@v4
        with:
          repository: CSSFrancis/pyxem-docs-staging
          token: ${{ secrets.PREVIEW_DEPLOY_KEY }}
          path: deploy-repo

      - name: Deploy PR preview
        uses: rossjrw/pr-preview-action@9f77b1d057b494e662c50b8ca40ecc63f21e0887
        with:
          source-dir: doc/_build/html
          deploy-repository: CSSFrancis/pyxem-docs-staging
          token: ${{ secrets.PREVIEW_DEPLOY_KEY }}
          comment: true