# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:
    workflow: "*"

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Build
        run: |
          python setup.py sdist bdist_wheel
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: dist/*
          name: artifacts
  Publish:
    needs: [Build]
    name: Publish to TestPyPI
    # Only run when the label 'Test Publish' is added to a PR
    runs-on: Ubuntu-latest
    permissions:
    # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download dist
        uses: actions/download-artifact@v7
        with:
          name: artifacts
          path: dist
      - name: Display downloaded files
        run: |
          ls -shR
        working-directory: dist
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
